


.flex {
  display: flex;
}

.flexDirectionRow {
    flex-direction: row;
}


.flexDirectionColumn {
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  margin-left:3em;
  margin-right:3em;
  margin-top:3em;

}

.hero{
  display: flex;
  flex-direction: row;
}
.heroCopy{
  display: flex;
  flex-direction: column;
  margin-top:5em;
}

.justifySpaceBetween {
  justify-content: space-between;
}


.headerCopy{
  margin-top:5em;

}
.copyHeader{
font-size: 4em;
letter-spacing: 0.5px;
font-weight: bold;
color:var(--color-1);
}
.copyPara{
font-size: 1.6em;
letter-spacing: 0.25px;
font-family: 'Roboto', sans-serif;
}
.heroImg{
  width: 50%;
  padding-left: 4em;
  padding-right: 1em;
}

.booking{
  display: flex;
  flex-direction: row;
  border-radius: 10px;
    background: inherit;
  
    padding: 3em 0em;
    margin-bottom: 10em;
    box-shadow: 0px 10px 20px #cbced1, 0px -10px 20px rgba(255,255,255,1);
}



.formControl {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
}

.formControl label {
  color: #09655f;
  padding-left: .5em;
}

.formControl .travel {
  border-radius: 20px;
  width:  249px;
  height: 65px;
  padding-left: 1.5em;
  border: 5px solid lightgrey;
  background: #ecf0f3;
  box-shadow: inset 8px 8px 16px #cbced1, inset -8px -8px 16px #ffffff;
  margin-top: 16px;
  position: relative;
  transition: 0.5s;
}

.formControl .travel::placeholder {
  padding-left: .5em;
}

.formControl .travel:focus {
  border-radius: 5px;
  outline: none;
  border: none;
}

.formControl .cities {
  list-style: none;
  color: #09655f;
  background-color: #ecf0f3;
  padding-bottom: 20px;
  border-radius: 4px;
  box-shadow: inset 8px 8px 12px #cbced1, inset -8px -8px 12px #ffffff;
  position: absolute;
  top: 99px;
  width: 320px;
  visibility: hidden;
  transition: 0.5s;
  opacity: 0;
}

.formControl .citiesList {
  cursor: pointer;
  padding-left: 20px;
  padding-top: 20px;
}

.formControl .citiesList:hover {
  background-color: #09655f;
  box-shadow: 8px 8px 12px #cbced1;
  color: #39e5da;
  padding: 15px;
  border-radius: 3px;
}

.formControl .travel:focus ~ .cities {
  visibility: visible;
  
  opacity: 1;
  transition: 0.5s;
}

.formControl #select {
  border-radius: 10px;
  width: 320px;
  height: 70px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #ecf0f3;
  box-shadow: 8px 8px 16px #cbced1, -8px -8px 16px #ffffff;
  margin-top: 35px;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.formControl #select::after {
  content: attr(data-date);
  position: absolute;
  top: 40px;
  left: 20px;
  font-style: italic;
  font-weight: 500;
  padding-bottom: 10px;
}

.formControl .chevron {
  margin-top: -20px;
  transform: rotate(-90deg);
}

.formControl #date {
  opacity: 0;
  left: 5000px;
  position: absolute;
}
.formButton{
  
  background: linear-gradient(0deg, rgba(255,18,0,1) 0%, rgba(255,61,0,1) 100%);
  margin-top: 16px;
}
.button{
  cursor:pointer;
  padding:.4em .8em;
  text-align: center;
  background: linear-gradient(0deg, rgba(255,18,0,1) 0%, rgba(255,61,0,1) 100%);
  color:#fff;
  border-radius: 7px;
  border:none;
  height:3em;
  font-size: medium;
  margin-top: 2.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width:  302px;
    height: 65px;
    box-shadow: 0px 15px 30px  rgb(255, 117, 107);
    transition: .5s;
  
}
.button:focus,button:active{
  border-color:rgb(255, 117, 107);
  border-width: .5em;
  transform: translateY(.2em);
  transition: .3s;
  -moz-transition: .3s;
  box-shadow: none;
  outline:none;
}
.button:hover{
  background: linear-gradient(90deg, rgba(255,18,0,1) 0%, rgba(255,61,0,1) 100%);
  transition: background .5s ease-out;
}
.formImg,.text{
  margin-top:1em;
  color: #fff;
  transform: translateX(0px);
  transition: .5s;
}
.button:hover>.formImg{
  transform: translateX(14px);
 }

 .cardCopy{

  
    font-size: 2.5em;
 }

 .cards{

  
  display: flex;
    flex-direction: row;
   
    padding: 2em 0em;
   
    width: 100%;
 }

 .info{

  background-color: #fff;
  
  padding:3em;
  margin-top: 10em;
 }
.infoCopy{
  font-size: 2.5em;
  padding-left: 2em;
  margin-bottom: 3em;
}
 .infoArticles{
   
   display: flex;
   flex-direction: column;
  
   width:auto;

 }
 .articles{
   background-color: #FCFCFC;
   border-radius: 10px;
   display: flex;
   flex-direction: row;
   margin-bottom: 5em;
   margin-left: 10em;
   margin-top: 3em;
    width: 900px;
 }
 .articleInfo{
  display: flex;
  flex-direction: column;
  order:2;
  justify-content: center;
  width: 100%;
 }
 .articleImg{
   order:1;
   transform: translate(-40px,-70px);
 }
 .articlePara{
   /* width: 40%; */
 }
 .articleHeader{
  color: var(--color-1);
  font-size: 1.8em;
 }
 
.download{
  background-color: var(--bg-1);
  display: flex;
  flex-direction: row;
  padding-top:2em ;
  padding-bottom: 2em;
}
.phone{
  background-image: url("../../assets/img/dots.svg");
  background-position: 251px;
    background-position-y: 298px;
  background-repeat: no-repeat;
}
.phoneImg{
  width: 50em;
}

.downloadInfo{
  display: flex;
    flex-direction: column;
    margin-left: -7em;
    justify-content: center;
}

.downloadHeader{

  font-size: 1.8em;
 color: #FCFCFC;
  padding-left: 2.3em;
  width: 80%;
  letter-spacing: 0.5px;
}
.store{
  display: flex;
  flex-direction: row;
  margin-top: 2em;
}
a.storeUrl:nth-child(2){
  margin-top:1em;
  margin-left: 5em;
}


.contact{
  padding-left:3em;
  padding-right: 3em;
  display: flex;
  flex-direction: row;
  background-color: var(--bg-2);
}
.contactRight{
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  margin-left: 5em;
}
.contactLeft{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.contactHeader{
font-size: 2.5em;
margin-top: 5em;
padding-left: 1.5em;
letter-spacing: .25px;
}
.contact .formControl{
  margin-left:0;
}
.contact .formControl:nth-child(2),
.contact .formControl:nth-child(3){
  margin-top:2em;
}
.contact .formControl input{
  width: 87%;
}
.contact .formControl textarea{

  width: 87%;
  height: 12.5em;
  padding-top: 1.5em;

}
.contact .formControl textarea::placeholder{

  padding-left: .5em;
  padding-top: 0.5em;

}

.contact .formControl button{
  color: var(--color-3);
  background: var(--bg-3);
  text-align: center;
  box-shadow: 0px 15px 30px  rgb(197, 242, 212);
  display: initial;
  width: 87%;
}

.contactImg{
  margin-top:-10.5em;
}


.partners{
  padding-left: 3em;
  padding-right: 3em;
  background-color: var(--bg-4);
}
.partnersHeader{

font-size: 2.5em;
padding-top: 5em;
padding-left: 1.5em;
letter-spacing: .25px;
padding-bottom: 2em;
}
.row{
 
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 3em;
}

.partner{
background-color: #fff;
height: 10rem;
width: 15rem;
align-items: center;
display: flex;
justify-content: center;
border-radius: 7px;

}
.urlFooter{
  color: #fff;
}


