.confirm {
  font-weight: 500;
  margin-bottom: 10px;
  color: var(--color-1);
  font-size: 1.6em;
  padding-top: 0.8em;
}
.paymentMethod {
  font-weight: 500;

  color: var(--color-1);
  font-size: 1em;
}
.payment {
  background: transparent;
  border-color: var(--bg-6);
  border: 3px solid var(--bg-6);
  margin-left: 6.2em;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
  margin-left: 6.2em;
  width: 21em;
  align-items: center;
}
.open {
  display: initial;
  transition: 0.5s;
}
.button {
  cursor: pointer;
  padding: 0.4em 0.8em;
  text-align: center;

  border-radius: 7px;
  border: none;
  height: 3em;
  font-size: medium;
  margin-top: 2em;
  width: -webkit-fill-available;
  height: 3.7em;
  width: 100%;
  transition: 0.5s;
}
.buttonGreen {
  background: var(--light-green);
  color: var(--color-4);
}

.button:focus,
button:active {
  border: none;

  transform: translateY(0.2em);
  transition: 0.3s;
  -moz-transition: 0.3s;
  box-shadow: none;
  outline: none;
}

.button:hover {
  font-weight: bold;
  transition: all 0.5s ease-out;
}

.transparent {
  color: var(--color-1);
  border: none;
  box-shadow: none;
  transition: 0.5s;
  background: transparent;
  margin-top: 0.5em;
  margin-bottom: 2em;
}

.transparent:hover {
  border: 3px solid var(--color-1);

  /* border: none; */
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  box-shadow: 2px 4px 15px #fc5d4b62;
  font-weight: 700;
  transition: 0.5s;
}
.justifyContentAround {
  justify-content: space-between;

  width: -webkit-fill-available;
  width: 100%;
  background: white;
  box-shadow: 0px 12px 24px #f5f5f5fc;
  padding: 1em 2em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
span {
  font-weight: 900;
  color: inherit;
  font-style: italic;
}

.accordion {
  display: initial;
  min-height: 12em;
  height: auto;
  transition: all 0.5s;
}

.hidden {
  display: none;
  transition: all 0.5s;
  height: 0em;
}

.flip {
  transform: rotate(180deg);
  transition: 0.5s;
}

.change {
  content: url("../../../assets/img/modals-icons/circle-check.svg");
  transition: 0.5 all;
}

.borderWhite {
  border: none;
  box-shadow: 0px 4px 10px #1111111c;
  background: #fff;
  transition: all 0.5s;
}
.innerAccordion {
  align-items: center;
  width: 18em;
}
.innerAccordion2 {
  align-items: center;
  width: 21em;
  padding-left: 3em;
  padding-right: 2em;
}
.osama {
  padding-right: 1em;
  width: 100%;
  padding-top: 2em;
}
.mpesaPrompt {
  width: fit-content;
  padding-left: 3em;
  color: currentColor;
}

.tagline {
  color: var(--bg-1);
  padding-top: 1em;
}
.mpesaButton {
  background: linear-gradient(
    0deg,
    rgba(255, 18, 0, 1) 0%,
    rgba(255, 61, 0, 1) 100%
  );
  color: #fff;
}
button:disabled {
  cursor: no-drop;
  background: #ccc;
  color: currentColor;
}
.moveImg {
  overflow: hidden;
  border: none;
  background-color: transparent;
}

.move {
  animation: shake 0.8s ease-in-out infinite;

  /* normal,moveToLeft 0.5s ease-in-out 1s infinite reverse; */
}

@keyframes hide {
  0% {
    visibility: visible;
    height: 12em;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    height: 0px;
    opacity: 1;
  }
}
@keyframes moveToLeft {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(20em);
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
