.snackbar {
  min-width: 250px;
  width: 30em;
  margin-left: -125px;
  background-color: #ecf0f3;
  box-shadow: inset 4px 4px 4px #cbced1, inset -4px -4px 4px #ffffff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 100;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  animation-fill-mode: forwards;
  transition: 0.5s;
  visibility: hidden;
}
.close {
  cursor: pointer;
}

.close:hover {
  color: #ff0000;
  transform: rotate(45deg);
  transition: 0.5s;
}
.snackbar.show {
  animation: fadein 0.5s, fadeout 0.5s 2.5s forwards;
  visibility: visible;
}
.snackbar.closed {
  visibility: hidden;

  animation: fadeout 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
